body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Minecraftia', sans-serif;
    display: flex;
    background-image: url('../images/everywherelolbann.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    /*background-image: radial-gradient(ellipse at bottom, #1b1822a8 0%, #121212a4 100%); */
    align-items: center;
    height: 100vh;
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #333;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 10px;
    text-transform: lowercase;
    padding: 5px 10px;
}


.nav-link:hover {
    color: white;
}

.container {
    margin-top: -300px;
    text-align: center;
}

#bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.5em;
}

.container {
    text-align: center;
}

.title {
    font-size: 50px;
    margin-bottom: 30px;
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile-link {
    text-decoration: none;
    color: white;
}

.archive-link {
    text-align: center;
    margin-top: 20px;
}

.archive-link a {
    color: white;
    font-family: 'Minecraftia', sans-serif;
    text-decoration: none;
}


.profile {
    width: 120px;
    height: 160px;
    border: 2px solid #111111;
    border-radius: 15px;
    background-color: #030303;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: scale(1.1);
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.profile p {
    margin: 0;
    font-size: 16px;
}